.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.idea
.vscode
screenshots
logs
infra
.github
k8s
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfvars
.env
