yc_config = {
  token     = ""
  cloud_id  = ""
  folder_id = ""
  zone      = "ru-central1-a"
}
yc_instance_user         = "ubuntu"
yc_instance_name         = "airflow-cluster"
yc_network_name          = "streaming-network"
yc_subnet_name           = "streaming-subnet"
yc_service_account_name  = "streaming-cluster-sa"
yc_bucket_name           = "streaming-bucket"
yc_storage_endpoint_url  = "https://storage.yandexcloud.net"
admin_password           = "Большая буква маленькие буквы цифры и знак -"
public_key_path          = ""
private_key_path         = ""
ubuntu_image_family      = "ubuntu-2004-lts"
yc_mlflow_instance_name  = "mlflow-server"
yc_postgres_cluster_name = "postgres-cluster"
postgres_password        = "StrongPassword123!"
yc_kafka_cluster_name    = "kafka-streaming"
kafka_producer_password  = "ProducerPass123!"
kafka_consumer_password  = "ConsumerPass123!"
